body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.grid-container {
    max-width: 1200px; /* Adjust the width as needed */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 20px;
    justify-items: center;
    padding: 20px;
}

.grid-item {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 100%; /* Ensure grid items take full width */
    height: 200px; /* Increase height to make images larger */
}

.grid-item span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    visibility: hidden;
    white-space: nowrap;
}

.grid-item:hover span {
    visibility: visible;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    text-align: center;
    color: whitesmoke;
}
